loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
  
  # Required schema configuration
  schemaConfig:
    configs:
      - from: 2024-01-01
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

# Disable unnecessary components for local demo
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

# Use single binary mode
deploymentMode: SingleBinary

monitoring:
  serviceMonitor:
    enabled: true
    labels:
      release: kps

  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false